node_modules/
out-tsc/
/coverage/
*.tsbuildinfo
*.rbxl
*.rbxl.lock
*.tgz
.DS_Store
.env
.eslintcache
dist/
*.rbxm
src/test-runner.bundled.luau
plugin/out/
!src/coverage
!test/coverage
.standalone/.preview
dist/